@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    background: #000;
}

.all-img {
    width: fit-content;
    padding: 1rem;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.57);
    z-index: 9999;
    border-radius: 0.5rem;
    text-align: center;
}


/* 開くためのドラッグなし */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
}

.loopImg {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
    left: 50%;
    margin-left: -50vw;
    overflow: hidden;
    background: #000;
    /* アニメーション */
}

.loopImg ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: calc(480px * 20);
    margin: 0;
    padding: 0;
}

.loopImg ul li {
    position: relative;
    display: inline-block;
    width: 480px;
    text-align: center;
}

.loopImg ul li img {
    display: block;
    width: 480px;
    height: 100vh;
    object-fit: cover;
}

.loopImg ul:first-child {
    -webkit-animation: loop 300s -150s linear infinite;
    animation: loop 300s -150s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
}

.loopImg ul+ul {
    -webkit-animation: loop2 300s linear infinite;
    animation: loop2 300s linear infinite;
}

.noscript {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.57);
    z-index: 10000;
    border-radius: 0.5rem;
    text-align: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

@-webkit-keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}

@keyframes loop2 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}